.detail-title {
  padding: 20px 0;
  margin-bottom: 20px;
  background: #99151b;
  color: #fff;
  font-size: 25px; }

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  padding: 7px 15px;
  color: #fff;
  font-size: 29px;
  border: 1px solid #fff;
  border-radius: 50%; }
  .back-link:hover {
    color: #fff;
    text-decoration: none; }

.detail-form .row {
  margin-bottom: 15px; }

.detail-form label {
  text-align: right; }

.errorMessage {
  color: #99151b;
  font-weight: 700; }

.form-control.has-error {
  border-color: #99151b;
  outline-color: #99151b; }
